<p>
  <strong>Account type:</strong>
  <%= @bank.account_type %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @bank.account_number %>
</p>

<p>
  <strong>Account digit:</strong>
  <%= @bank.account_digit %>
</p>
